<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <br><br><br><br><br>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <br><br><br><br><br>
</div>
<div class="w3-container w3-center">
  <button (click)="selection=true" class="btn">Log in</button>
  <button (click)="selection=false" class="btn">Register</button>

  <div *ngIf="user">
    <app-homepage></app-homepage>
  </div>
  <div *ngIf="selection">
    <app-login (messageEvent)="receiveMessage($event)"></app-login>
  </div>
  <div *ngIf="!selection">
    <app-register></app-register>
  </div>
  <app-gamer-user></app-gamer-user>
</div>
